.intro , .slant1 , .slant2 , .slant3 , .curve {
  font-family: Helvetica, sans-serif;
}
.intro {
  text-align: center;
  font-size: 30px;
  color: white;
}
.slant1 , .slant2 , .slant3 {
  color: white;
}
.slant1 {
  background-color: Green;
}
.slant2 {
  background-color: DarkCyan;
}
.slant3  {
  background-color: HotPink;
}
.slant3 , .slant2 , .slant1 , .curve a , .heading {
  border-radius: 3px;
}
.curve a {
  color: white;
  background-color: HotPink;
}
.curve a , .curve a:hover {
  padding: 10px;
}
.curve a:hover {
  background: white;
  color: HotPink;
}
.h3 , .curve {
  text-align: center;
}
.curve {
  border: 2px solid HotPink;
  padding: 20px;
  margin: 2px 560px;
}
.heading {
  background-image: url('http://pre10.deviantart.net/3046/th/pre/f/2010/320/d/1/website_background_by_modsoft-d3302jz.png');
  margin: 2px 300px;
}
html {
  background-color: DeepSkyBlue;
}
