.intro , .slant1 , .slant2 , .slant3 , .curve {
  font-family: cursive;
}
.intro {
  text-align: center;
  font-size: 30px;
  color: white;
}
.slant1, .slant2, .slant3 {
  color: white;
}
.slant1 {
  background-color: Green;
}
.slant2 {
  background-color: DarkCyan;
}
.slant3  {
  background-color: HotPink;
}
.courselinks li a {
  color: red;
}
.courselinks li {
  list-style: lower-roman;
}
.heading {
  background-image: url('http://pre10.deviantart.net/3046/th/pre/f/2010/320/d/1/website_background_by_modsoft-d3302jz.png');
}
